*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;

}



body {

  background-color: rgb(0, 193, 193);
}

h1 {
  font-size: 3.2em;

  color: azure;
  text-align: center;
}
.tiger_1{
  background-color: aliceblue;
  width: 70vmax;
 
 margin: auto;
  
  padding: 40px 20px  ;
border-radius: 11px;




  



}



.tiger_2 {
  display: inline-block;
 
  margin-bottom: 20px;
 
padding: 10px;
margin: 10px;
position: relative;

left: 20%;
translate: (-30%, -30%);

  

}

button{
  font-size: 17px;
  margin: 20px;
  border-radius: 6px;
  background-color: black;
  padding: 15px;

  border: none;
  color: #fff;

}
input[type="color"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 70px;
  height: 40px;
  border: none;
  cursor: pointer;
}